body{
    height: 100%;
    margin: 0;
    padding: 0;
}

#logo{
    border-radius: 5%;
}

hr{
    border-color: rgb(255, 191, 0);
    border-width: 5px;
}

#top-icon{
    margin-right: 10px;
}
.footer {
  background-color: antiquewhite;
  }

  .footer-row {
    margin: 0;
  }

  .footer-col {
    margin: 0;
  }
